<footer>
<div>
    <a href="https://web.facebook.com/jugpernambuco/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/jug_pe" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/jug_pe/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/jug-pe-713ab1191/" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCYXtxivwEsMSX8VJjMHrpyA" class="fa fa-youtube"></a>
    <a href="https://github.com/jugpe" class="fa fa-github"></a>
    <a href="https://chat.whatsapp.com/Gn81apeOH3z3i4m59hXYmI" class="fa fa-whatsapp"></a>
    <a href="https://t.me/joinchat/Nkz3" class="fa fa-telegram"></a>
</div>

</footer>